.FeedsList {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-width: 1024px;
    margin: 20px auto;
}

.FeedItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    height: auto;
    min-height: 150px;
    background-color: #444;
    margin: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

.chosen {
    border: 2px solid #00c853;
    color: #00c853;
    background-color: #333;
}